In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
import pandas as pd

In [3]:
iris = load_iris()

In [4]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\fdew\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [5]:
iris_data = iris.data
iris_label = iris.target

In [6]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [7]:
iris_set = pd.DataFrame(iris.data,
                       columns=['SL', 'SW', 'PL', 'PW'])
iris_set

      SL   SW   PL   PW
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [8]:
iris_set['Species'] = iris.target

In [9]:
iris_set

      SL   SW   PL   PW  Species
0    5.1  3.5  1.4  0.2        0
1    4.9  3.0  1.4  0.2        0
2    4.7  3.2  1.3  0.2        0
3    4.6  3.1  1.5  0.2        0
4    5.0  3.6  1.4  0.2        0
..   ...  ...  ...  ...      ...
145  6.7  3.0  5.2  2.3        2
146  6.3  2.5  5.0  1.9        2
147  6.5  3.0  5.2  2.0        2
148  6.2  3.4  5.4  2.3        2
149  5.9  3.0  5.1  1.8        2

[150 rows x 5 columns]

In [10]:
iris_set['Species'][0]

0

In [11]:
iris.target_names[0]

'setosa'

In [12]:
iris_set['Species'] = iris_set['Species'].apply(lambda x : iris.target_names[0] if x == 0 
                                                else (iris.target_names[1] if x == 1
                                                     else iris.target_names[2]))

In [13]:
iris_set['Species']=='setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [14]:
iris_set

      SL   SW   PL   PW    Species
0    5.1  3.5  1.4  0.2     setosa
1    4.9  3.0  1.4  0.2     setosa
2    4.7  3.2  1.3  0.2     setosa
3    4.6  3.1  1.5  0.2     setosa
4    5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  virginica
146  6.3  2.5  5.0  1.9  virginica
147  6.5  3.0  5.2  2.0  virginica
148  6.2  3.4  5.4  2.3  virginica
149  5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [15]:
tr_data1 = iris_set[0:119]
tr_data2 = iris_set[120:]

In [16]:
import numpy as np

In [17]:
iris_set = iris_set.sample(frac=1).reset_index(drop=True)

In [18]:
iris_set

      SL   SW   PL   PW     Species
0    6.5  3.2  5.1  2.0   virginica
1    6.1  3.0  4.6  1.4  versicolor
2    5.1  2.5  3.0  1.1  versicolor
3    5.5  2.5  4.0  1.3  versicolor
4    4.6  3.2  1.4  0.2      setosa
..   ...  ...  ...  ...         ...
145  5.0  3.5  1.3  0.3      setosa
146  4.8  3.4  1.9  0.2      setosa
147  6.3  2.8  5.1  1.5   virginica
148  5.8  2.7  3.9  1.2  versicolor
149  6.7  3.1  5.6  2.4   virginica

[150 rows x 5 columns]

In [19]:
train_data = iris_set[0:120]
test_data = iris_set[120::]

In [20]:
len(train_data)

120

In [21]:
train_data

      SL   SW   PL   PW     Species
0    6.5  3.2  5.1  2.0   virginica
1    6.1  3.0  4.6  1.4  versicolor
2    5.1  2.5  3.0  1.1  versicolor
3    5.5  2.5  4.0  1.3  versicolor
4    4.6  3.2  1.4  0.2      setosa
..   ...  ...  ...  ...         ...
115  5.7  4.4  1.5  0.4      setosa
116  6.8  3.2  5.9  2.3   virginica
117  5.0  3.0  1.6  0.2      setosa
118  5.8  2.7  5.1  1.9   virginica
119  5.0  3.5  1.6  0.6      setosa

[120 rows x 5 columns]

In [22]:
test_data

      SL   SW   PL   PW     Species
120  5.0  3.4  1.6  0.4      setosa
121  4.6  3.6  1.0  0.2      setosa
122  6.9  3.1  5.1  2.3   virginica
123  6.5  3.0  5.5  1.8   virginica
124  7.0  3.2  4.7  1.4  versicolor
125  4.9  3.6  1.4  0.1      setosa
126  4.9  3.1  1.5  0.1      setosa
127  4.4  3.2  1.3  0.2      setosa
128  6.1  2.8  4.0  1.3  versicolor
129  6.7  3.0  5.0  1.7  versicolor
130  6.4  3.1  5.5  1.8   virginica
131  6.3  2.5  4.9  1.5  versicolor
132  4.8  3.1  1.6  0.2      setosa
133  6.0  2.2  5.0  1.5   virginica
134  5.7  2.8  4.5  1.3  versicolor
135  5.4  3.4  1.7  0.2      setosa
136  4.6  3.4  1.4  0.3      setosa
137  6.3  2.7  4.9  1.8   virginica
138  6.5  3.0  5.2  2.0   virginica
139  6.9  3.1  5.4  2.1   virginica
140  4.7  3.2  1.3  0.2      setosa
141  6.1  2.9  4.7  1.4  versicolor
142  5.5  2.6  4.4  1.2  versicolor
143  5.8  4.0  1.2  0.2      setosa
144  6.6  2.9  4.6  1.3  versicolor
145  5.0  3.5  1.3  0.3      setosa
146  4.8  3.4  1.9  0.2      setosa
147  6.3  2.8  5.1  1.5   virginica
148  5.8  2.7  3.9  1.2  versicolor
149  6.7  3.1  5.6  2.4   virginica

In [23]:
train_x = train_data[['SW', 'SL', 'PL', 'PW']]
train_x

      SW   SL   PL   PW
0    3.2  6.5  5.1  2.0
1    3.0  6.1  4.6  1.4
2    2.5  5.1  3.0  1.1
3    2.5  5.5  4.0  1.3
4    3.2  4.6  1.4  0.2
..   ...  ...  ...  ...
115  4.4  5.7  1.5  0.4
116  3.2  6.8  5.9  2.3
117  3.0  5.0  1.6  0.2
118  2.7  5.8  5.1  1.9
119  3.5  5.0  1.6  0.6

[120 rows x 4 columns]

In [24]:
train_y = train_data[['Species']]
train_y

        Species
0     virginica
1    versicolor
2    versicolor
3    versicolor
4        setosa
..          ...
115      setosa
116   virginica
117      setosa
118   virginica
119      setosa

[120 rows x 1 columns]

In [25]:
x_train = train_x.values
y_train = train_y.values

In [26]:
x_train.shape

(120, 4)

In [27]:
y_train.shape

(120, 1)

In [28]:
y_train = y_train.reshape(120, -1)

In [29]:
y_train.shape

(120, 1)

In [30]:
type(y_train)

numpy.ndarray

In [31]:
x_test = test_data.iloc[:, 0:4].values
y_test = test_data.iloc[:, -1].values

In [32]:
dt_clf = DecisionTreeClassifier(random_state=11)

In [33]:
dt_clf

DecisionTreeClassifier(random_state=11)

In [34]:
dt_clf.fit(x_train, y_train)

DecisionTreeClassifier(random_state=11)

In [35]:
pred = dt_clf.predict(x_test)

In [36]:
pred

array(['setosa', 'setosa', 'virginica', 'virginica', 'versicolor',
       'setosa', 'setosa', 'setosa', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'virginica'],
      dtype=object)

In [37]:
y_test

array(['setosa', 'setosa', 'virginica', 'virginica', 'versicolor',
       'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'virginica'],
      dtype=object)

In [38]:
y_test = y_test.reshape(y_test.size,)

In [39]:
y_test

array(['setosa', 'setosa', 'virginica', 'virginica', 'versicolor',
       'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'virginica'],
      dtype=object)

In [40]:
pred == y_test

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True])

In [41]:
sum(pred == y_test) / len(y_test)

0.9